@import "tailwindcss";


@theme {

    --color-lightBtn:#81B5CA;
    --color-darkBg:#000000;
    --color-textLight:#ffffff; 
    --color-textDark:#ffffff; 

}


@layer utilities {
  .bg-booking-bg {
    background-image: url('/img/booking.png');
    background-size: cover;
    background-position: center;
  }}